@import 'reset';
@import 'variables';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.625;
  background-color: white;
}

a {
  text-decoration: none;
  color: #124555;
}

h1 {
  font-size: 30px;
  color: #333;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  color: #333;
  padding-top: 20px;
  margin-bottom: 5px;
}

h3 {
  color: #555;
  font-size: 26px;
  font-weight: 400;
}

p {
//   margin-bottom: 10px;
}

h4 { font-weight: 500; }

.container {
  max-width: 840px;
  margin: 0 auto;
}

#logo {
  position: relative;
  float: left;
  height: 60px;
  width: 60px;
  background-color: $orange;
  font-size: 30px;
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid $orange;
  }
}

#main-header {
  background: $dark-grey;
  text-align: center;

  > div {
    line-height: 60px;
    height: 60px;
  }

  nav {
    float: right;
    li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      a {
        color: white;
      }
    }
  }

  h3 {
    float: left;
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
    font-weight: initial;
    color: white;
  }
}

#main-content { margin-top: 60px; }

#article-container {

  .article {
    padding-bottom: 70px;
    padding-top: 50px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $orange;
    }

    &:first-of-type {
        padding-top: 0;
    }
  }

  section.article-ingress {
    font-style: italic;
  }

  section.article-body { margin-top: 20px; }

  header {
    margin-bottom: 10px;
    h1 { font-size: 40px; }
    h6 { font-size: 15px; margin-top: -5px; }
  }
}

.article-body {
    pre {
        background-color: #eee;
        padding: 5px 15px;
        line-height: 1.3;
        // margin-left: -1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

pre > code {
    margin: 10px 0;
    width: 100%;
}

code[class^="lang-"] {
  font-family: monospace;
}

#spacer {
    height: 50px;
}

#forecast-container {
    background-color: $dark-grey;
    padding-top: 30px;
    padding-bottom: 30px;
}

#forecast-loading > h2 {
    color: white;
}

#forecast-city {
    display: inline-block;
    margin-bottom: 10px;
    h3 {
        color: white;
        width: 110%;
        border-bottom: 1px solid white;
    }
}

#forecast-main-data {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#forecast-icon {
    width: 128px;
    height: 128px;
    margin-right: 10px;
}

#forecast-degrees {
    span {
        font-size: 60px;
        font-weight: 600;
        color: $orange;
    }
}

#forecast-details {
    margin-bottom: 10px;
    ul {
        li {
            display: inline-block;
            color: white;
            margin-right: 10px;
            font-weight: 400;
        }
    }
}

#forecast-textual {
    color: white;
    font-style: italic;
    font-size: 15px;
}


@media only screen and (max-width: 786px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 880px) {
  .container {
    width: 85%;
  }
  #main-header > .container {
    width: 100%;
  }
}
